@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%
  }
  .dark {
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



/* Default styles for mobile screens */
.untouchable {
  pointer-events: none; /* Disable all pointer events */
}

/* Styles for larger screens (e.g., laptops) */
@media (min-width: 768px) { /* Adjust the min-width as needed */
  .untouchable {
      pointer-events: auto; /* Enable pointer events */
  }
}
